*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

:focus,
:active,
a:focus,
a:active {
  outline: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  margin: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

.decor-line {
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 0.2rem;
  background-color: #864BD8;
  transition: all 0.3s ease 0s;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
@media only screen and (min-width: 1800px) {
  html {
    font-size: 86.5%;
  }
}

body {
  color: #000000;
  font-family: "Inter";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.13;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.page {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.title {
  color: #292929;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.66;
  letter-spacing: -1px;
}
@media only screen and (max-width: 479.98px) {
  .title {
    font-size: 2.3rem;
  }
}

.text-align-center {
  text-align: center;
}

.no-left {
  left: 0;
}

.btn {
  position: relative;
  display: inline-block;
  z-index: 1;
}
.btn__box {
  display: inline-block;
  border-radius: 3.4rem;
  color: #ffffff;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.14px;
  transition: all 0.3s ease 0s;
  padding: 1.9rem 2.8rem;
}
@media only screen and (max-width: 479.98px) {
  .btn__box {
    padding: 1.9rem 1.8rem;
  }
}
.btn__box span {
  margin-left: 1.7rem;
}
.btn__bg {
  width: 105%;
  height: 120%;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 90px;
  z-index: -1;
  border: 3px solid #864BD8;
  box-shadow: 0 0 10px #864BD8;
  opacity: 0;
  transition: all 0.2s ease 0s;
}
.btn__box:hover ~ .btn__bg {
  opacity: 1;
}
.btn__box:active ~ .btn__bg {
  opacity: 0;
}

.btn_1 {
  background-color: #864BD8;
}

.btn_2 {
  background-color: #FFB200;
  padding: 1.9rem 3rem;
}

.btn__bg_2 {
  border: 3px solid #FFB200;
  box-shadow: 0 0 10px #FFB200;
}

.btn_3 {
  background-color: #F57343;
  padding: 1.9rem 3rem;
}

.btn__bg_3 {
  border: 3px solid #F57343;
  box-shadow: 0 0 10px #F57343;
}

.social__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social__wrapper a {
  width: 3.2rem;
  height: 3.2rem;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  border-radius: 0.4rem;
  transition: all 0.3s ease 0s;
}
.social__wrapper a:hover {
  box-shadow: 0 0 10px #864BD8;
  transform: rotate(45deg);
}
.social__wrapper a:active {
  box-shadow: 0 0 10px transparent;
}
.social__wrapper a img {
  transition: all 0.3s ease 0s;
}
.social__wrapper a:hover img {
  transform: rotate(-45deg);
}
.social p {
  color: #72747A;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 1.8rem;
}

@media only screen and (max-width: 479.98px) {
  .contact {
    text-align: center;
  }
}
.contact *:not(:last-child) {
  margin-bottom: 0.4rem;
}
.contact p, .contact a {
  color: #72747A;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.16px;
}
.contact a {
  display: block;
  text-decoration: underline;
  transition: all 0.3s ease 0s;
}
.contact a:hover {
  color: #864BD8;
}
.contact a:active {
  color: #72747A;
  transition: all 0.2s ease 0s;
}

.points {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
}
@media only screen and (max-width: 767.98px) {
  .points {
    grid-template-columns: auto;
  }
}
.points__item {
  display: flex;
  align-items: center;
  border-radius: 1.6rem;
  background-color: #ffffff;
}
@media only screen and (max-width: 479.98px) {
  .points__item {
    flex-direction: column;
    text-align: center;
  }
}
.points__box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.points__box img {
  border-radius: 50%;
}
.points__box span {
  display: inline-block;
  color: #864BD8;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 0.63;
}
.points__box span img {
  width: 3rem;
}
.points__info h3 {
  color: #292929;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.392px;
}
.points__info p {
  color: #72747A;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.18;
}

.receive {
  padding: 4.5rem 0 8.2rem;
  background: rgba(239, 238, 243, 0.7);
}
.receive__wrapper {
  margin-top: 3.7rem;
  gap: 3rem 2.8rem;
}
.receive__item {
  max-width: 48.5rem;
  padding: 1.4rem 2.4rem 1.4rem 1.4rem;
  gap: 2.6rem;
}
@media only screen and (max-width: 767.98px) {
  .receive__item {
    max-width: 100%;
    padding: 2rem;
    gap: 1.5rem;
  }
}
.receive__box {
  max-width: 10rem;
}
.receive__box img {
  max-width: 10rem;
}
.receive__info p {
  padding-top: 1.3rem;
}

.program {
  padding: 3.7rem 0 0;
}
.program__wrapper {
  margin-top: 1.4rem;
  gap: 1.1rem 1.4rem;
}
.program__item {
  max-width: 51.8rem;
  padding: 3.6rem 2.6rem 3.9rem 2.2rem;
  gap: 2.4rem;
  border: 0.672px solid #F2F2F2;
}
@media only screen and (max-width: 767.98px) {
  .program__item {
    max-width: 100%;
    padding: 2rem;
    gap: 1.5rem;
  }
}
.program__box {
  max-width: 6.4rem;
  height: 6.4rem;
  background-color: #EBDDFD;
}
.program__box span {
  position: relative;
  left: 0.4rem;
}
.program__box span img {
  position: relative;
  left: -0.4rem;
}
.program__info p {
  padding-top: 1.3rem;
}

.buy {
  padding: 7.6rem 0.7rem 6.5rem;
}
@media only screen and (max-width: 767.98px) {
  .buy {
    padding: 0 0.7rem 2.5rem;
  }
}
.buy__container {
  background: #864BD8;
  background: url(../img/img-big/bg-violet.jpg) center/cover no-repeat;
  border-radius: 2.4rem;
  padding: 8.3rem 1rem 10.1rem;
}
@media only screen and (max-width: 479.98px) {
  .buy__container {
    padding: 7rem 1rem 7rem;
  }
}
.buy__wrapper {
  position: relative;
}
.buy__wrapper h2 {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -1px;
}
@media only screen and (max-width: 479.98px) {
  .buy__wrapper h2 {
    font-size: 3rem;
  }
}
.buy__wrapper p {
  color: #BC95F2;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3.2px;
  margin-top: 0.6rem;
  position: relative;
  z-index: 1;
}
.buy__btn {
  margin-top: 5rem;
}
@media only screen and (max-width: 479.98px) {
  .buy__btn {
    margin-top: 3rem;
  }
}
.buy__btn span img {
  width: 1.6rem;
  height: 1.6rem;
}
.buy__decor {
  position: absolute;
  transform: translate(-50%, -50%);
}
.buy__decor_1 {
  width: 5.6rem;
  height: 5.6rem;
  top: 65%;
  left: 12%;
}
.buy__decor_2 {
  width: 5rem;
  height: 5rem;
  top: 55%;
  right: 6%;
}

.course__wrapper {
  grid-template-columns: repeat(4, minmax(16rem, 26.3rem));
  gap: 3.2rem;
  margin-top: 3.9rem;
}
@media only screen and (max-width: 767.98px) {
  .course__wrapper {
    grid-template-columns: repeat(2, minmax(16rem, 26.3rem));
  }
}
@media only screen and (max-width: 479.98px) {
  .course__wrapper {
    grid-template-columns: auto;
  }
}
.course__item {
  flex-direction: column;
  border-radius: 1.1rem;
  background: #ffffff;
  border: 0.1rem solid #F2F2F2;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  padding: 3.6rem 2.5rem 4.5rem;
}
.course__info {
  text-align: center;
}
.course__info h3 {
  padding-top: 2.4rem;
}
.course__info p {
  padding-top: 1.3rem;
}
.course__box {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 50%;
}
.course__box_1 {
  background-color: #EBDDFD;
}
.course__box_2 {
  background-color: #FFF0CD;
}
.course__box_3 {
  background-color: #FFE8E0;
}
.course__box_4 {
  background-color: #F3DDEA;
}

.results {
  padding: 5.5rem 0 3rem;
}
.results__container > p {
  color: #72747A;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.41;
  margin-top: 1rem;
}
.results__wrapper {
  margin-top: 5.6rem;
}
.results__items {
  display: flex;
  gap: 1.3rem;
  align-items: center;
}
@media only screen and (max-width: 1198.98px) {
  .results__items {
    justify-content: center;
  }
}
@media only screen and (max-width: 767.98px) {
  .results__items {
    flex-wrap: wrap;
  }
}
.results__items:not(:first-child) {
  margin-top: 0.9rem;
}
.results__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10rem;
  border: 1px solid #E6E6E6;
  background-color: #ffffff;
  padding: 0.6rem 3.2rem 0.6rem 0.6rem;
}
.results__item p {
  color: #292929;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.14px;
  margin-left: 1.4rem;
  text-align: center;
}
.results__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  background-color: #F6F6F6;
  border-radius: 50%;
  font-size: 2.5rem;
  padding: 1.2rem;
}
.results__row_2 {
  padding-left: 4.3rem;
}
@media only screen and (max-width: 1198.98px) {
  .results__row_2 {
    padding-left: 0;
  }
}
.results__row_3 {
  justify-content: center;
}
.results__btn .btn__bg {
  width: 107%;
}
@media only screen and (max-width: 479.98px) {
  .results__btn .btn__box {
    padding: 1.9rem 2.8rem;
  }
}

.who__container {
  padding: 8.3rem 0 6rem;
}
.who__wrapper {
  display: flex;
  background-color: #864BD8;
  border-radius: 1rem;
  position: relative;
}
@media only screen and (max-width: 767.98px) {
  .who__wrapper {
    flex-direction: column-reverse;
    align-items: center;
    overflow: hidden;
  }
}
.who__decor {
  position: absolute;
  z-index: 1;
}
.who__decor_1 {
  left: -5rem;
  top: -3rem;
}
@media only screen and (max-width: 767.98px) {
  .who__decor_1 {
    top: auto;
    bottom: 0;
    left: 0;
  }
}
@media only screen and (max-width: 575px) {
  .who__decor_1 {
    left: -5rem;
  }
}
.who__decor_2 {
  right: -2.4rem;
  top: -2rem;
}
@media only screen and (max-width: 767.98px) {
  .who__decor_2 {
    display: none;
  }
}
.who__decor_3 {
  display: none;
  right: -10.7rem;
  top: -3rem;
}
@media only screen and (max-width: 767.98px) {
  .who__decor_3 {
    display: block;
  }
}
.who__img {
  max-width: 36.2rem;
  width: 100%;
}
@media only screen and (max-width: 767.98px) {
  .who__img {
    max-width: 51.3rem;
  }
}
.who__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  border-radius: 0.8rem;
}
.who__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  padding: 6.3rem 1rem;
  width: 100%;
}
@media only screen and (max-width: 767.98px) {
  .who__box {
    padding: 7.7rem 1rem;
  }
}
.who__info {
  max-width: 51.3rem;
}
@media only screen and (max-width: 767.98px) {
  .who__info {
    max-width: 49.9rem;
  }
}
@media only screen and (max-width: 479.98px) {
  .who__info {
    max-width: 31.9rem;
  }
}
.who__info h3 {
  color: #ffffff;
  font-family: "Montserrat";
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 2.7rem;
}
.who__info p {
  color: #ffffff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.44;
  letter-spacing: -0.392px;
}
.who__info p span {
  font-weight: 600;
}
.who__info p + p {
  margin-top: 2.7rem;
}
.who__btn {
  margin-top: 4.3rem;
}

.reviews {
  padding: 4.4rem 0 3.2rem;
}
@media only screen and (max-width: 767.98px) {
  .reviews {
    padding: 4.4rem 0 0.2rem;
  }
}
.reviews__slider {
  margin-top: 3.3rem;
}
.reviews__wrapper {
  display: flex;
  align-items: center;
}
.reviews__slide {
  filter: blur(0.5rem);
}
.reviews__slide img {
  border-radius: 2rem;
}
.reviews__next::after, .reviews__prev::after {
  display: none;
}
.reviews__next, .reviews__prev {
  position: relative;
  left: 50%;
  width: 6.1rem;
  height: 6.1rem;
  border-radius: 6.1rem;
  background-color: #ffffff;
  box-shadow: 0px 25px 40px 0px rgba(59, 80, 90, 0.05);
  border: 0.1rem solid rgba(59, 80, 90, 0.1);
  transition: all 0s ease 0s;
}
.reviews__next {
  top: 5.3rem;
  transform: translateX(2rem) rotate(180deg);
  background: url(../icons/arrow-1.svg) center/contain no-repeat;
  background-size: 2rem;
}
@media only screen and (max-width: 767.98px) {
  .reviews__next {
    top: 3.3rem;
  }
}
.reviews__prev {
  top: 1.4rem;
  transform: translateX(-7rem) rotate(360deg);
  background: url(../icons/arrow-1.svg) center/contain no-repeat;
  background-size: 2rem;
}
@media only screen and (min-width: 1800px) {
  .reviews__prev {
    top: 0.7rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .reviews__prev {
    top: -0.6rem;
  }
}
.reviews__next:hover, .reviews__prev:hover {
  border: 0.1rem solid #F57343;
  background: url(../icons/arrow-2.svg) center/contain no-repeat #F57343;
  background-size: 2rem;
}
.reviews__next:hover {
  transform: translateX(2rem) rotate(0deg);
}
.reviews__prev:hover {
  transform: rotate(180deg) translateX(7rem);
}
.reviews__next:active, .reviews__prev:active {
  border: 0.1rem solid rgba(59, 80, 90, 0.1);
  background: url(../icons/arrow-1.svg) center/contain no-repeat #ffffff;
  background-size: 2rem;
}
.reviews__next:active {
  transform: translateX(2rem) rotate(180deg);
}
.reviews__prev:active {
  transform: rotate(360deg) translateX(-7rem);
}

.swiper {
  width: 100%;
  height: 100%;
  padding-bottom: 3rem;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiper-slide-shadow-coverflow {
  border-radius: 2rem;
}
.swiper-slide-shadow-left, .swiper-slide-shadow-right {
  background-image: none !important;
}
.swiper-slide-active {
  filter: blur(0);
  border-radius: 2rem;
  transition: all 0.3s ease 0s;
}
.swiper-slide-prev {
  transition: all 0.3s ease 0s !important;
}
.swiper-slide-prev img {
  position: relative;
  right: -15rem;
}
.swiper-slide-next {
  transition: all 0.3s ease 0s !important;
}
.swiper-slide-next img {
  position: relative;
  left: -15rem;
}

.questions {
  padding: 5.6rem 0 8.9rem;
}
@media only screen and (max-width: 767.98px) {
  .questions {
    padding: 3.6rem 0 1.9rem;
  }
}
.questions__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 1.2rem 5.2rem;
}
@media only screen and (max-width: 767.98px) {
  .questions__container {
    flex-direction: column;
  }
}
.questions__img {
  max-width: 49.2rem;
}
.questions__img img {
  width: 100%;
}
.questions__accordion {
  width: 61.6rem;
  padding-top: 5.5rem;
}
@media only screen and (max-width: 991.98px) {
  .questions__accordion {
    max-width: 61.6rem;
    width: 100%;
  }
}
@media only screen and (max-width: 767.98px) {
  .questions__accordion {
    width: 90vw;
  }
}
@media only screen and (max-width: 479.98px) {
  .questions__accordion {
    padding-top: 4.9rem;
  }
}
.questions__item {
  margin: 0;
  box-shadow: none;
  border-bottom: 0.1rem solid #000000;
  transition: all 0.3s ease 0s;
}
.questions__item:first-child {
  border-top: 0.1rem solid #000000;
}
.questions__header, .questions__content {
  color: #000000;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.12;
}
.questions__header {
  background-color: #ffffff;
  padding: 3.2rem 1rem;
  transition: all 0.3s ease 0s;
}
.questions__header:hover {
  background-color: rgba(255, 98, 0, 0.1);
}
.questions__header::after {
  background-image: url(../icons/cross.svg);
  width: 2.4rem;
  height: 2.4rem;
  background-size: 2.4rem;
  border-radius: 50%;
}
@media only screen and (max-width: 479.98px) {
  .questions__header::after {
    width: 2rem;
    height: 2rem;
    background-size: 2rem;
  }
}
.questions__content {
  padding: 1rem;
}

.accordion__item_show .accordion__header::after,
.accordion__item_slidedown .accordion__header::after {
  transform: rotate(0deg);
}

.accordion__item_show .questions__header::after,
.accordion__item_slidedown .question__header::after {
  transform: rotate(-45deg);
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
  z-index: 3;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  transform: translate(0, 0);
  opacity: 1;
}
.popup__area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.popup__body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 1rem;
  transition: all 0.8s ease 0s;
}
.popup__content {
  background-color: #ffffff;
  max-width: 48rem;
  padding: 3rem;
  position: relative;
  transform: translate(0, -100%);
  opacity: 0;
  transition: all 0.8s ease 0s;
  border-radius: 3rem;
  margin: 0 0.5rem;
}
.popup__close {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  font-size: 2rem;
  color: #FFB200;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}
.popup__close:hover {
  color: #864BD8;
}
.popup__close:active {
  color: #FFB200;
}
.popup__title {
  font-size: 1.8rem;
  margin: 0 auto 2rem;
  color: #FFB200;
  text-align: center;
}
.popup__text form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.popup__text form input {
  border: 0.2rem solid #FFB200;
  padding: 1rem;
  border-radius: 2rem;
  width: 100%;
  color: #FFB200;
  transition: all 0.3s ease 0s;
}
.popup__text form input:focus {
  border: 0.2rem solid #F57343;
}
.popup__text form input + input {
  margin-top: 2rem;
}
.popup__text form input::-moz-placeholder {
  color: #FFB200;
}
.popup__text form input::placeholder {
  color: #FFB200;
}
.popup__btn {
  width: 100%;
  margin-top: 3rem;
}
.popup__btn .btn__box {
  width: 100%;
}
.popup__btn .btn__bg {
  width: 102%;
  height: 115%;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
  z-index: 2;
}
.header__container {
  padding: 3rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 991.98px) {
  .header__container {
    padding: 2rem 1.5rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .header__container {
    padding: 1rem 1.5rem;
    position: relative;
  }
}
.header__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 767.98px) {
  .header__items {
    flex-direction: column;
  }
}
.header__item:not(:last-child) {
  margin-right: 6.2rem;
}
@media only screen and (max-width: 767.98px) {
  .header__item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4rem;
  }
}
.header__item {
  position: relative;
  overflow: hidden;
  padding-bottom: 0.3rem;
}
.header__link {
  color: #495263;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  transition: all 0.2s ease 0s;
}
@media only screen and (max-width: 767.98px) {
  .header__link {
    color: #ffffff;
    font-size: 2.8rem;
  }
}
.header__link:hover ~ .decor-line {
  left: 0;
}
@media only screen and (max-width: 767.98px) {
  .header__link:hover ~ .decor-line {
    left: -100%;
  }
}
.header__link:active {
  color: #864BD8;
}
.header__btn {
  width: 5rem;
  height: 4rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: none;
}
@media only screen and (max-width: 767.98px) {
  .header__btn {
    display: inline-block;
  }
}
.header__btn span, .header__btn::after, .header__btn::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 0.5rem;
  background-color: #864BD8;
  transition: all 0.3s ease 0s;
}
.header__btn span {
  top: 50%;
  transform: translateY(-50%);
}
.header__btn::after {
  top: 0;
}
.header__btn::before {
  top: auto;
  bottom: 0;
}
@media only screen and (max-width: 767.98px) {
  .header__btn.active span, .header__btn.active::after, .header__btn.active::before {
    background-color: #ffffff;
  }
  .header__btn.active span {
    opacity: 0;
  }
  .header__btn.active::after {
    top: 17px;
    transform: rotate(-45deg);
  }
  .header__btn.active::before {
    bottom: 18px;
    transform: rotate(45deg);
  }
}
@media only screen and (max-width: 767.98px) {
  .header__nav {
    position: absolute;
    right: -100%;
    background: #864BD8;
    background: linear-gradient(42deg, rgb(134, 75, 216) 0%, rgb(245, 115, 67) 100%);
    height: 100vh;
    width: 100%;
    top: -1000%;
    transition: all 0.3s ease 0s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
  }
  .header__nav.active {
    right: 0;
    top: 0;
  }
}

.home {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10.4rem 0 6.3rem;
}
@media only screen and (max-width: 991.98px) {
  .home {
    height: auto;
  }
}
@media only screen and (max-width: 479.98px) {
  .home {
    padding: 10.4rem 0 2.3rem;
  }
}
.home__container {
  position: relative;
}
.home__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 58rem;
  margin: 0 auto;
  z-index: 1;
  position: relative;
}
.home__wrapper h1 {
  color: #292929;
  text-align: center;
  font-family: "Montserrat";
  font-size: 6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -2px;
}
@media only screen and (max-width: 479.98px) {
  .home__wrapper h1 {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 320px) {
  .home__wrapper h1 {
    font-size: 3rem;
  }
}
.home__wrapper h1 span {
  display: inline-block;
}
.home__wrapper h1 span span {
  position: relative;
  top: 1.4rem;
}
@media only screen and (max-width: 479.98px) {
  .home__wrapper h1 span span {
    top: 0.4rem;
  }
}
.home__wrapper h1 span span img {
  width: 3.6rem;
  height: 4.1rem;
}
@media only screen and (max-width: 320px) {
  .home__wrapper h1 span span img {
    width: 2.6rem;
    height: 3.1rem;
  }
}
.home__wrapper p {
  color: #72747A;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.41;
  margin-top: 2.5rem;
}
@media only screen and (max-width: 320px) {
  .home__wrapper p {
    font-size: 1.4rem;
  }
}
.home__wrapper p span {
  display: block;
}
.home__wrapper p span:last-child {
  font-weight: 500;
}
.home__btn {
  margin-top: 4.1rem;
}
.home__btn span:first-child {
  font-weight: 800;
  margin-left: 0;
}
.home__img {
  position: absolute;
  transform: translateY(-50%);
}
@media only screen and (max-width: 991.98px) {
  .home__img {
    transform: translateY(0);
  }
}
.home__img_1 {
  top: 55%;
  left: -10rem;
}
@media only screen and (max-width: 991.98px) {
  .home__img_1 {
    top: -18%;
    left: -3.5rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .home__img_1 {
    left: -15.5rem;
  }
}
@media only screen and (max-width: 479.98px) {
  .home__img_1 {
    left: -13.5rem;
  }
}
.home__img_1 img {
  max-width: 51.5rem;
  width: 100%;
}
@media only screen and (max-width: 479.98px) {
  .home__img_1 img {
    max-width: 44rem;
  }
}
.home__img_2 {
  top: 45%;
  right: -8rem;
}
@media only screen and (max-width: 991.98px) {
  .home__img_2 {
    top: 0%;
    right: -3rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .home__img_2 {
    right: -18rem;
  }
}
@media only screen and (max-width: 479.98px) {
  .home__img_2 {
    right: -16rem;
  }
}
.home__img_2 img {
  max-width: 44.5rem;
  width: 100%;
}
@media only screen and (max-width: 479.98px) {
  .home__img_2 img {
    max-width: 39.3rem;
  }
}
.home__decor {
  position: absolute;
}
.home__decor_1 {
  top: 2rem;
  left: 7%;
}
@media only screen and (max-width: 991.98px) {
  .home__decor_1 {
    top: -3rem;
    left: auto;
    right: 12rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .home__decor_1 {
    right: -2rem;
  }
}
.home__decor_2 {
  left: 21%;
  top: 58%;
  transform: rotate(180deg);
  filter: blur(2px);
}
@media only screen and (max-width: 991.98px) {
  .home__decor_2 {
    left: 50%;
    top: auto;
    bottom: 25%;
    transform: translateX(-50%);
  }
}
.home__decor_3 {
  right: 20%;
  bottom: 6%;
  filter: blur(1px);
}
@media only screen and (max-width: 991.98px) {
  .home__decor_3 {
    left: 12rem;
    bottom: auto;
    top: -1rem;
  }
}
@media only screen and (max-width: 767.98px) {
  .home__decor_3 {
    left: 0;
  }
}
@media only screen and (max-width: 991.98px) {
  .home__bg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 40rem;
  }
}

@media screen and (max-width: 290px) {
  .btn__box span:last-child {
    display: none;
  }
}
.footer {
  background-color: #292929;
  padding: 6.2rem 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 479.98px) {
  .footer__container {
    flex-direction: column-reverse;
    gap: 5rem;
  }
}/*# sourceMappingURL=style.css.map */