.questions
    &__container
        @include style-flex
        justify-content: center
        gap: 5.2rem
    &__img
        max-width: 49.2rem
        img
            width: 100%
    
.accordion
    width: 61.6rem
    @include respond(tab-port)
        max-width: 61.6rem
        width: 100%