.buy
    padding: 7.6rem 0.7rem 6.5rem
    @include respond(tablet)
        padding: 0 0.7rem 2.5rem
    &__container
        background: $color-violet
        background: url(../img/img-big/bg-violet.jpg) center/cover no-repeat
        border-radius: 2.4rem
        padding: 8.3rem 1rem 10.1rem
        @include respond(phone)
            padding: 7rem 1rem 7rem
    &__wrapper
        position: relative
        h2
            color: $color-white
            font-family: "Montserrat"
            font-size: $font-size-paragraph-h2-big
            font-style: normal
            font-weight: 700
            line-height: 1.2
            letter-spacing: -1px
            @include respond(phone)
                font-size: $font-size-paragraph-h2
        p
            color: #BC95F2
            font-size: $font-size-paragraph-2
            font-style: normal
            font-weight: 600
            line-height: normal
            letter-spacing: 3.2px
            margin-top: .6rem
            position: relative
            z-index: 1
    &__btn
        margin-top: 5rem
        @include respond(phone)
            margin-top: 3rem
        span
            img
                width: 1.6rem
                height: 1.6rem
    &__decor
        position: absolute
        transform: translate(-50%, -50%)
    &__decor_1
        width: 5.6rem
        height: 5.6rem
        top: 65%
        left: 12%
    &__decor_2
        width: 5rem
        height: 5rem
        top: 55%
        right: 6%
